:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(212, 45%, 89%);
  --color-blue-grayish: hsl(220, 15%, 55%);
  --color-blue-dark: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  background-color: var(--color-gray-light);
  padding: 0 1.75rem;
}

.card {
  max-width: 20rem;
  margin: 9.5rem auto;
  padding: 1rem;
  padding-bottom: 2.5rem;
  border-radius: 20px;
  background-color: var(--color-white);
}

.card__img {
  max-width: 18rem;
  height: 18rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.card__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  text-align: center;
  padding: 0 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--color-blue-dark);
}

.description {
  color: var(--color-blue-grayish);
}

@media (max-width: 25em) {
  .card {
    margin: 5.3125rem auto;
  }
}
