:root {
  --color-primary: #4dabf7;
  --color-primary-light: #74c0fc;

  --color-white: #fff;
  --color-black: #000;

  --color-grey: #555;
  --color-grey-dark: #333;

  --color-tag-newbie: #51cf66;

  --ff-default: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-default);
  line-height: 1;
  font-weight: 400;
  color: var(--color-grey);
  padding: 2.4rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* ===== HEADER ===== */

.header {
  padding: 4.8rem 0;
  text-align: center;
  margin-bottom: 9.6rem;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.heading-primary__sub {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: var(--color-primary);
}

.heading-primary__main,
.heading-primary__sub {
  display: block;
}

/* ===== CARDS ===== */

.card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.card__tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 600;
  color: var(--color-grey-dark);
}

.tag--newbie {
  background-color: var(--color-tag-newbie);
}

.card__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
}

.list {
  list-style: none;
  margin-bottom: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list__item {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.card__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-primary);
}

.card__icon--white {
  color: var(--color-white);
}

.card__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.link:link,
.link:visited {
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 1.6rem;
  border-radius: 9px;
}

.link:hover,
.link:active {
  background-color: var(--color-primary-light);
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 90rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 55em) {
  .grid {
    row-gap: 8rem;
    column-gap: 4.8rem;
  }
  .card__content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
}

@media (max-width: 45.3125em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 36.25em) {
  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .card__content {
    padding: 6.4rem 8rem 8rem 8rem;
  }
}
